<div class="mt4">
<form >
 
  <div >
    <label for="search" >Nhap tu de tim kiem</label>
    <input type="text" name="q" >
  </div>

  <div>
    <button type="submit" >Search</button>
  </div>
</form>

</div>

